.style-chooser {
    background-color: #e9e9e9;
    height: 52px;
    padding-top: 12px;
    margin: 0px 8px 17px 8px;
    border-radius: 4px;
}

.style-chooser .vs__search::placeholder, .style-chooser .vs__dropdown-toggle, .style-chooser .vs__dropdown-menu, .style-chooser .vs__selected {
    border: none;
    color: rgb(93, 93, 93);
    font-size: 1.07em;
    padding-left: 0px;
}

.style-chooser .vs__dropdown-option--highlight {
    background: #10949e;
    color: #fff
}

.style-chooser .vs__search, .vs__search:focus {
    padding: 0px 0px !important;
}

.style-chooser .vs__dropdown-toggle {
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    border-radius: 0px;
}

@media only screen and (max-width: 599px) {
    .style-chooser .vs__dropdown-toggle {
        border: none;
        border-bottom: 1px solid rgba(0, 0, 0, 0);
        border-radius: 0px;
        margin-bottom: 20px;
    }
}

/*.custom.v-text-field>.v-input__control>.v-input__slot:before { 
    border-style: none; 
} 
  
.custom.v-text-field>.v-input__control>.v-input__slot:after { 
    border-style: none; 
}*/